h1 {
  color: #4dffb8;
}
body {
  background-image: url("../img/tetons.jpg");
  

}
.container {background-color: rgba(0, 0, 0, 0.5);}
p {
  color: #red;

}
h3 {
  color: red;
}
h2 {
  color: red;
}
.bobcat{
  float: left;
}
